.icon {
  margin-right: 1rem;
  color: red;
}

.input {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  list-style-type: none;
}

.important {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
